.product-details-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    margin-top: 100px;
  }
  
  .product-image-container {
    flex: 0 0 30%;
    display: flex;
    justify-content: center; /* Center horizontally */
  }
  
  .product-image {
    max-width: 100%; /* Ensure the image is responsive */
    max-height: 300px; /* Limit the height */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
  }
  
  .product-info {
    flex: 1;
    padding: 0 20px;
  }
  
  .product-info-box {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  
  .product-info h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .product-info p {
    margin-bottom: 10px;
  }
  
  .product-info button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product-info button:hover {
    background-color: #0056b3;
  }
  